body {
    min-width: 400px;
    min-height: 200px;
    color:#7D7F80;
    font: .875em/1.35 'Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
}
#content {
	width: 960px;
	margin: 0px auto;
	text-align: center;
}
#qrcode {
	width: 256px;
	margin: 0px auto;
}
#data {
	font-style: italic;
	margin-top:50px;
	margin-bottom:10px;
	font-size: 20px;
}
#apps {
  margin: 15px 0px;
  font-size: 16px;
}
#apps img {
  vertical-align: sub;
}
#apps a {
  color: #7D7F80;
  text-decoration: none;
}
#footer {
	margin-top:50px;
}
textarea {
	width: 256px;
	padding: 2px;
	min-height: 50px;
	resize: none;
}
canvas {
	display: none;
}
